{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

  <form action="/submit" method="post">
    <div class="form-group">
      <label for="names">Names</label>
      <input type="string" class="form-control" id="names" name="items" placeholder="Enter names">
    </div>
    <div class="form-group">
      <label for="chunks">Chunks</label>
      <input type="number" class="form-control" id="number-of-chunks" name="chunks" placeholder="How many groups?">
    </div>
    <br><br>
    <button type="submit" class="btn btn-default">Chunk</button>
  </form>

  <div>
    {% for group in groups %}
      <p>{{group}}</p>
    {% endfor %}
  </div>

  </div>

{% endblock %}
